body
{
background-color: rgb(16, 1, 30)
}
a
{
    text-decoration: none;
}
p
{
    color: rgb(171, 171, 171);
}
.card
{
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}
nav
{
    background-color: blueviolet;
}
img {

  border-radius: 30px;
    max-width: 100%;
}
h1
{
    color: rgb(220, 220, 220);
}
h1
{
    color:blueviolet;
}
h2
{
    color: rgb(171, 171, 171);
}
.nav-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.3s;
}
.nav-item:hover
{
      color: #c02537;
      background-color: aquamarine;
}
.jolann
{
    color:blueviolet;
    text-align: center;
}
.form-group
{
color: blueviolet;
}
.navbar-icon{
      max-height: 100%;
}

.uitleg
{
    padding-top: 10%;
}

footer {
  text-align: center;
}




@media (max-width: 600px) {
.bigJolan {
    display: none;
  }
p{
    font-size: small;
}
h2
{
    font-size: large;
}
.jolan
{
    font-size: small;
}
.bigJolan
{
        display: none;
}
}

@media (min-width: 600px) {
.bigJolan {
    display: none;
  }
p{
    font-size: small;
}
h2
{
    font-size: large;
}
.jolan
{
    font-size: small;
}
.bigJolan
{
        display: none;
}
}

@media (min-width: 768px) {
.bigJolan {
    display: block;
  }
  
  p{
    font-size: small;
}
h2
{
    font-size: larger;
}
.jolan
{
    font-size: small;
}
}


@media (min-width: 992px) {
.bigJolan {
    display: block;
  }
  
  p{
    font-size: large;
}
h2
{
    font-size: x-large;
}
.jolan
{
    font-size: large;
}
}